<div class="container-fluid">
  <div class="row">
    <div class="col-sm-8">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Step #</th>
            <th>Framework</th>
            <th>Link</th>
            <th>Code</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Sinatra</td>
            <% if @features['step1'] %>
              <td><%= link_to "http://vuln1.alttab.org", "http://vuln1.alttab.org" %></td>
              <td><%= link_to "Code", "https://github.com/pcorliss/sinatra_step_1" %></td>
            <% else %>
              <td colspan=2>Soon...</td>
            <% end %>
          </tr>
          <tr>
            <td>2</td>
            <td>Node</td>
            <% if @features['step2'] %>
              <td><%= link_to "http://vuln2.alttab.org", "http://vuln2.alttab.org" %></td>
              <td><%= link_to "Code", "https://github.com/pcorliss/node_step_2" %></td>
            <% else %>
              <td colspan=2>Soon...</td>
            <% end %>
          </tr>
          <tr>
            <td>3</td>
            <td>Rails</td>
            <% if @features['step3'] %>
              <td><%= link_to "http://vuln3.alttab.org", "http://vuln3.alttab.org" %></td>
              <td><%= link_to "Code", "https://github.com/pcorliss/rails_step_3" %></td>
            <% else %>
              <td colspan=2>Soon...</td>
            <% end %>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
